<!-- templates/post_new.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>New post</h1>
<form action="" method="post">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Save">
</form>
{% endblock content %}