<!-- templates/post_edit.html -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Edit post</h1>
<form action="" method="post">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Update">
</form>
{% endblock content %}